<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mutant.baa-code"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>SBaa-Code</name>

    <description>
        Phone Scan Demo app
    </description>

    <author href="http://mutantlabs.com" email="mijahn@mutantlabs.com">
        Mijahn Masters
    </author>
	<gap:plugin name="Baa-code" /> <!-- latest release -->
</widget>

